/*@import url("reset.css");*/

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color:#333;
}

p {
    padding: 10px;
    }

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#headerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#header {
  height: 1.5em;
  background: #32CD32;
  border-radius: .8em;
  border: 1px solid #3399ff;         
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 22pt;
}

#contentwrap {
    width: 850px;
    float: left;
    margin: 0 auto;

}

#content {
  background: white;
  border-radius: .5em;
  margin: .5em;
}

#leftcolumnwrap {
    width: 150px;
    float: left;
    margin: 0 auto;
}

#leftcolumn {
  background: white;
  margin: .5em; 
}

#footerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
    clear: both;
}

#footer {
  height: 1.2em;
  background: #47B013;
  border-radius: .3em;
  border: 1px solid #1feb52;
  margin: .1em;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 25pt; 
}


/*
 _______   Botones para el menu  _________________________________ 
*/
.button-menu {
         border-radius: 1.5em;
         border: .3em solid #47B013;
         background-color: white;
         font-size: 1.2em;
         margin-top: .5em;
         font-weight: bold;
         box-shadow: .3em .3em .3em #888888;
          }

/*
 _______   Presentacion de los posts  ____________________________
*/
#post1 { /* cambiar nombre >> */
         -moz-border-radius: 1em 1em 1em 1em;
         -webkit-border-radius: 1em 1em 1em 1em;
         margin-top: 1.5em;
         background-color: white;
         box-shadow: .3em .3em .3em #47B013;
         border:.2em solid #47B013;
         padding: 1em .5em 1em;
         }	
.postauthor {
              color:  #47B013;
              text-align: left;
              font-size: 16pt;
              background-color: white;
              }
.postdate {
            color: #47B013;
            text-align: left;
            font-size: 16pt;
            background-color: white;
            }


.sptitle { /*par el titulo del post*/
           font-size: 25pt;
           text-align: center;
           align: center;
           background-color: white;
           color: red;
           border-radius: .3em;
           }

/*
 _______   Para agregar posts  ________________________________
*/
.labeladdpost {
                font-size: 18pt;
                }
.inputaddpost {
                border-radius:.5em;
                border:.18em solid #47B013;
                box-shadow: .1em .1em .1em #888888
                margin-top: .3em;
                background-color: white;
                font-size: 13pt;
                }
.addtitle {
            align: center;
            text-align: center;
            }
.labeladdpost {
                font-size: 18pt;
                }
.spaddpost {
             align: center;
             font-size: 28pt;
             text-align: center;             
             color: red;
             }

/*
 _______   Para buscar posts  ________________________________
*/
.inputsearchpost {
                   border-radius:.5em;
                   margin-top: 1em;
                   background-color: white;
                   font-size: 15pt;
                   align: center;
                   border:.15em solid #47B013;
                   box-shadow: .1em .1em .1em #888888
                   }
.button-search {
                 border-radius:.5em;
                 border:.2em solid #47B013;
                 margin-top: .3em;
                 background-color: white;
                 font-size: 16pt;
                 box-shadow: .1em .1em .1em #888888
                 }

.labelsearchpost {
                   font-size: 18pt;
                   }
.spsearchpost {
                align: center;
                text-align: center;
                font-size: 25pt;
                color: red;
                }


/*
 _______   Para add topic  _______________________________
*/

.inputaddtopic {
                   border-radius:.5em;
                   margin-top: 1em;
                   background-color: white;
                   font-size: 15pt;
                   align: center;
                   border:.15em solid #47B013;
                   box-shadow: .1em .1em .1em #888888
                   }
.balign {
        align: center;
        text-align: center;
}
.button-addtopic {
                 border-radius:.5em;
                 border:.2em solid #47B013;
                 margin-top: .3em;
                 background-color: white;
                 font-size: 16pt;
                 box-shadow: .1em .1em .1em #888888
                 }

.labeladdtopic {
                   font-size: 18pt;
                   }
.titleaddtopic {
                align: center;
                text-align: center;
                font-size: 25pt;
                color: red;
                }

/*
 _______   Para preview posts  _______________________________
*/
.button-preview  {
                   border-radius: 1.5em;
                   border: .3em solid #3366CC;
                   background-color: white;
                   font-size: 1.2em;
                   margin-top: .5em;
                   font-weight: bold;
                   box-shadow: .3em .3em .3em #888888;
                   }



/*
 _______   Para los post encontrados  _______________________________
*/
.foundtitle {
              align: center;
              text-align: center;
              }

.spfoundpost {
               align: center;
               font-size: 28pt;
               text-align: center;
               color: #01A9DB;
               }
.labelfoundpost {
                  font-size: 18pt;
                  }
/*
______________   Login form  ______________________________________
*/
#page-wrap { width: 25%;
             margin: auto;
             padding: 12em;  }

.login-block {

    margin:0 6em; 6em; 0;
    text-align:center;
    width:80%;
    margin: 2em 0 1em 0;
}

.loginform {
    -moz-border-radius:1.5em;
    -moz-box-shadow:0 0 1em; #333;
    -webkit-border-radius: 1.5em;
    -webkit-box-shadow: 0 0 1em; #333;
    border:.15em solid white;
    padding:1.5em;
}

.loginform:hover , .login-block:hover {
    border-color: #3399ff; 
}

.plogin {
    margin:0;
    text-align:left;
}

.llogin {
    color:#7C6767;
    font-size:25px;
}


.inputlogin {
    border-color:#EEEEEE #CCCCCC #CCCCCC #EEEEEE;
    border-right:.2em solid #CCCCCC;
    border-style:solid;
    border-width:.2em;
    font-size:1.3em;
    margin:0 0 1em;
    padding:.25em;;
    width:12em;
              border-radius:.3em;
}

.inputlogin:focus {
    border-color: #3399ff; /*#555555;*/
}

.blogin { 
          border-radius:.5em;
          border: .15em solid #3399FF; 
          font-size: 1.5em;
          background-color: #ADD8E6;
          width:8em
          }
.blogin:hover { 
                background-color: white;   
 }

/*
------------------- menu-----
*/

 
#menu {    
    margin: 0em;
    padding: 0em;
    width: 8em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align:center;    
}

.limenu, #menu, .amenu  {
    background-color: white;    
}

.limenu {
  display: block;
}

.amenu {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: .8em .8em .8em .5em;   
    border: .2em solid  #47B013;
    border-radius: .5em;   
}

.amenu:hover {
    background:   #47B013;    
    color: #fff;
}


																													     /*====================================   FIN   =======================================*/
